.updated-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.updated-profile__container {
    display: flex;
    align-items: center;
}
.updated-profile__profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.updated-profile__profile img {
    width: 35px;
    height: 35px;
    border-radius: 40%;
}
.updated-profile__profile__img {
    position: relative;
    z-index: -1;
    margin-right: 20px;
}
.updated-profile__profile__img__alert {
    position: absolute;
    background-color: var(--red);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    left: -1px;
}
.updated-profile__profile__name {
    font-size: 12px;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.story-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.story-header span,
.story-header i {
    color: var(--gray);
    font-size: 15px;
}
.story-contents {
    display: flex;
    align-items: center;
}
.story-contents__making__story {
    height: 110px;
    width: 80px;
    background-color: var(--light-gray);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.story-contents__making__story i {
    color: gray;
}
.story-contents {
    position: relative;
    z-index: -1;
}
.story-contents span {
    font-size: 11px;
    position: absolute;
    bottom: -20px;
}
.story-contents__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.story-contents__story {
    margin-top: 10px;
}
.story-contents__story__img  .story_img{
    height: 110px;
    width: 80px;
    border-radius: 10%;
}
.story-contents__story__img {
    position: relative;
}
.story-contents__story__img .profile_img{
    height: 30px;
    width: 30px;
    border-radius: 40%;
    position: absolute;
    bottom: -5px;
    right: 20px;
    border: 3.3px solid var(--pink);
}
.profile__title {
    margin-left: 17px;
}

.friends-list {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}
.profile {
    display: flex;
}

