.shopping-title {
    padding: 5px 25px 0px 25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shopping-title span{
    font-size: 17px;
    color: var(--gray);
}
.shopping-title span:nth-child(2) {
    color: black;
}

.border-line-black {
    height: 1.5px;
    width: 62px;
    background-color: black;
    position: relative;
    left: 146px;
}

.shopping-goods {
    display: flex;
    margin-right: 5px;
    width: 400px;
    overflow-x: scroll;
}
.shopping-goods__container img {
    width: 160px;
    height: 240px;
    border-radius: 11px;
}
.shopping-goods__container {
    position: relative;
    margin-right: 8px;
}
.shopping-goods__state,
.shopping-goods__text {
    position: absolute;
}
.shopping-goods__state {
    top: 1px;
    left: 4px;
}

.shopping-goods__state .live {
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 1px 6px;
    border-radius: 7px;
}
.shopping-goods__state .live > i,
.shopping-goods__state .viewer i {
    margin-right: 4px;
}
.shopping-goods__state .viewer {
    background-color: var(--gray);
    color: white;
    font-size: 12px;
    padding: 1px 6px;
    border-radius: 7px;
    margin-left: 2px;
}

.shopping-goods__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 2px;
    margin: 6px;
}
.shopping-goods__text span:first-child {
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.shopping-goods__text span:first-child i {
    margin-right: 5px;
}
.shopping-goods__text span:last-child {
    font-size: 12px;
    color: white;
}

.shopping-icon{
    background-color: var(--light-gray);
}
.live {
    color: red;
}
.holiday {
    color: teal;
}
.section span {
    font-size: 13px;
}
.shopping-searching {
    background-color: var(--light-pink);
    height: 10px;
    width: 350px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.shopping-searching span {
    margin-left: 10px;
    color: var(--gray);
}