.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0px;
    width: 410px;
    padding: 2px;
    height: 40px;
    background-color: white;
    position: fixed;
    z-index: 4;
}
.main-header__margin-bottom {
    height: 100px;
}
.main-header__title {
    font-size: 27px;
    font-weight: 700;
}
.main-header__icons {
    display: flex;
    align-items: center
}
.main-header__icons i {
    margin-left: 20px;
}
.magnifying-glass  {
    position: relative;
    z-index: -1;
}
.main-header__alert {
    position: absolute;
    top: -3px;
    right: -3px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--red);
}