.nav-bar {
    background-color: var(--light-gray);
    width: 415px;
    box-sizing: border-box;
    border-top: 1px solid rgba(1,1,1,0.1);
    padding: 20px 35px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.nav-bar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.nav-bar i {
    color: var(--gray);
}
.nav-bar__link {
    position: relative;
}
.main-header__alert {
    position: absolute;
}