@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#index-splash-screen {
    background-color: var(--light-pink);
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 2s;
    z-index: 4;
}
#index-splash-screen i {
    position: fixed;
    top: 220px;
}

#friends-splash-screen {
    background-color: var(--light-pink);
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 2s;
    z-index: 4;
}
#friends-splash-screen span {
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
    position: fixed;
    top: 280px;
}
#friends-splash-screen i {
    animation: rotate 1.5s ease-in-out infinite;
    position: fixed;
    top: 230px;
}
